{% extends "base.html" %}

{% block login %}{% endblock %}

{% block content %}

<center>
{% if form.error_dict.username %}
<span style="color: red;">{{ form.error_dict.username.0 }}</span>
{% endif %}
<form action="/user/accounts/login/" method="post" id="login-form">
  <div class="form-row">
    <label for="id_username">Username:</label> <input type="text" name="username" id="id_username" />
  </div>
  <div class="form-row">
    <label for="id_password">Password:</label> <input type="password" name="password" id="id_password" />
	{% if form.error_dict.username %}
	<span style="color: red;">{{ form.error_dict.password.0 }}</span>
	{% endif %}
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="post_data" value="{{ post_data }}" />
	<input type="hidden" name="next" value="/" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in" />
  </div>
  <div class="help">Have you <a href="/user/accounts/password_reset/">forgotten your password</a>?</div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</center>
{% endblock %}