{% extends "base.html" %}
{% block content %}
<h1>Rules</h1>
		<ul>
			<li>Deathmatch Maps
				<ul>
					<li>Map must be under 2048 qu³</li>
					<li>Map must be under the GPL, NO proprietary content is allowed</li>
					<li>It must be in PK3 format, all custom content included, and having a mapcfg and txt file</li>
					<li>The gamemode must be Deathmatch</li>
					<li>Map must have a reasonable pk3 size</li>
				</ul>
			</li>
			<li>CTF Maps
				<ul>
					<li>Map must be under ??? qu³</li>
					<li>Map must be under the GPL, NO proprietary content is allowed</li>
					<li>It must be in PK3 format, all custom content included, and having a mapcfg and txt file</li>
					<li>The gamemode must be CTF</li>
					<li>Map must have a reasonable pk3 size</li>
				</ul>
			</li>
		</ul>
{% endblock %}